<div id="top-container" class="container-fluid">
    <!-- ... (código existente) ... -->
</div>

<main>
    <div id="trocavagas-container" class="container">
        <div class="row">
            <div class="col-md-12">
                {{#if isLoggedIn}}
                    <!-- Perfil do usuário -->
                    <h1 id="user-profile-title">Perfil do Usuário</h1>
                    {{#if user}}
                        <p>Nome: {{user.nome}}</p>
                        <p>Email: {{user.email}}</p>
                        <!-- Outras informações do usuário e vagas associadas -->
                        <h2>Vagas do Usuário:</h2>
                        <ul>
                            {{#each trocavagas}}
                                <li>{{this.serie_ano}} - {{this.escola_origem}} - {{this.regiao_origem}} - {{this.escola_destino}} - {{this.regiao_destino}}</li>
                                <!-- Adicione outras propriedades que deseja exibir -->
                            {{/each}}
                        </ul>
                    {{else}}
                        <p>Dados do usuário não encontrados</p>
                    {{/if}}
                {{else}}
                    <p>Você precisa estar logado para acessar esta página</p>
                {{/if}}

                <!-- Lista de vagas -->
                {{#if search}}
                    <h2 id="trocavaga-list-title">Buscando vagas que contem: {{search}}</h2>
                {{else}}
                    <h2 id="trocavaga-list-title">Veja as nossas vagas em destaque</h2>
                {{/if}}

                <!-- Exibindo todas as vagas -->
                <h2>Todas as vagas disponíveis:</h2>
                <ul>
                    {{#each allTrocavagas}}
                        <li>{{this.serie_ano}} - {{this.escola_origem}} - {{this.regiao_origem}} - {{this.escola_destino}} - {{this.regiao_destino}}</li>
                        <!-- Adicione outras propriedades que deseja exibir -->
                    {{/each}}
                </ul>

                <!-- Lista de vagas associadas ao usuário -->
                <h2>Vagas Associadas ao Usuário:</h2>
                <ul>
                    {{#each user.trocavagas}}
                        <li>{{this.serie_ano}} - {{this.escola_origem}} - {{this.regiao_origem}} - {{this.escola_destino}} - {{this.regiao_destino}}</li>
                        <!-- Adicione outras propriedades que deseja exibir -->
                    {{/each}}
                </ul>

                <ul id="trocavaga-list" class="list-group">
                    <!-- ... (código existente) ... -->
                </ul>
            </div>
        </div>
    </div>
</main>
