<div id="top-container" class="container-fluid">
    <!-- ... (código existente) ... -->
</div>

<main>
    <script>
        console.log("Valor de 'user': ", JSON.stringify(user));
        console.log("Valor de 'isLoggedIn': ", true);
        console.log("Valor de 'userDataNotFound': ", null);
        console.log("sucess")
    </script>

    <div id="trocavagas-container" class="container">
        <div class="row">
            <div class="col-md-12">
                {{#if isLoggedIn}}
                    <h1 id="user-profile-title">Perfil do Usuário</h1>
                    {{#if user}}
                        <p>Nome: {{user.nome}}</p>
                        <p>Email: {{user.email}}</p>
                        <h2>Vagas do Usuário:</h2>
           <ul>
  {{#each user.Trocavagas}}
    <li class="list-group-item {{#if this.dataValues.new_trocavaga}}new-trocavaga{{/if}}">
      <img src="/img/company.svg" alt="Company">
      <p><b>Série: </b>{{this.dataValues.serie_ano}}</p>
      <h5><b>Origem: </b>{{this.dataValues.escola_origem}} - {{this.dataValues.regiao_origem}}</h5>
      <p><b>Destino: </b>{{this.dataValues.escola_destino}} - {{this.dataValues.regiao_destino}}</p>
      <span class="new-trocavaga-label" href="/auth/view">Nova</span>
      <a class="btn btn-primary" href="/auth/view/{{this.dataValues.id}}">Ver vaga</a>
      
      <!-- Botão de Deleção -->
      <form action="/auth/delete/{{this.id}}" method="POST">
  <button type="submit">Deletar</button>
</form>
    </li>
    <!-- Adicione outras propriedades conforme necessário -->
  {{/each}}
</ul>

                        

                        <h2>Todas as vagas disponíveis:</h2>
                        <ul>
                            {{#each vacancies}}
                                <li class="list-group-item">
                                    <img src="/img/company.svg" alt="Company">
                                    <p><b>Série: </b>{{this.serie_ano}}</p>
                                    <h5><b>Origem: </b>{{this.escola_origem}} - {{this.regiao_origem}}</h5>
                                    <p><b>Destino: </b>{{this.escola_destino}} - {{this.regiao_destino}}</p>
                                    <a class="btn btn-primary" href="/auth/view/{{this.id}}">Ver vaga</a>
                                </li>
                                <!-- Adicione outras propriedades conforme necessário -->
                            {{/each}}
                        </ul>
                    {{else}}
                        <p>Dados do usuário não encontrados</p>
                    {{/if}}
                {{else}}
                    <p>Você precisa estar logado para acessar esta página</p>
                {{/if}}
            </div>
        </div>
    </div>
</main>
