<div id="trocavaga-view-container" class="container">
  <div class="row text-center">
    <a class="back-link main-color" href="/">Voltar</a>
    <div id="img-container" class="col-md-12">
      <img src="/img/company.svg" alt="Company">
    </div>
    <div class="col-md-12">
      <h2 class="main-color">Vaga de Origem:</h2>
<p><b>Região:</b> {{trocavaga.regiao_origem}}</p>
<p><b>Escola:</b> {{trocavaga.escola_origem}}</p>
<p><b>Grau de instrução:</b> {{trocavaga.grau_instrucao}}</p>
<p><b>Série/ Ano:</b> {{trocavaga.serie_ano}}</p>
<p><b>Turno:</b> {{trocavaga.turno_origem}}</p>

<h2 class="main-color">Vaga de Destino:</h2>
<p><b>Escola:</b> {{trocavaga.escola_destino}}</p>
<p><b>Região:</b> {{trocavaga.regiao_destino}}</p>
<p><b>Turno:</b> {{trocavaga.turno_destino}}</p>

<h2 class="main-color">Contato:</h2>
<p>
  Para entrar em contato com <span class="bold main-color">{{trocavaga.responsavel}},</span> 
  <br>envie um e-mail para <span class="bold main-color">{{trocavaga.email}}</span></br>
  ou ligue para <span class="bold main-color">{{trocavaga.telefone}}</span>
  <br></br>
</p>
    </div>
  </div>
</div>